.soap-post {
	font-size: 16px;
}

.soap-post h2 {
	font-family: 'Cormorant Garamond', 'serif';
}

.soap-post table {
	border-collapse: collapse;
	min-width: 20rem;
}

.soap-post th {
	font-family: 'Cormorant Garamond', 'serif';
	font-size: 18px;
	font-weight: bolder;
}

.soap-post th,
.soap-post td {
	padding: 1rem 0.5rem;
}

.soap-post th:first-child,
.soap-post td:first-child {
	padding-left: 0;
}

.soap-post th:last-child,
.soap-post td:last-child {
	padding-right: 0;
}

.soap-post td {
	border-top: 1px solid black;
	font-size: 13px;
}

.soap-post td:first-child {
	font-weight: bold;
	text-transform: uppercase;
}
